{% extends 'halamankepalasekolah/layout.html' %}

{% block title %}Status{% endblock %}

{% block content %}
<div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
  <h1 class="text-2xl font-semibold"><a href="#"><i class="bi bi-arrow-left"></i> Info Status</a></h1>
  <a
  href="{{ url_for('tambahstatus') }}"
  class="px-4 py-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
  >
  + Tambah Status
  </a>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

          {% for row in daftarstatus %}
          <div class="">
            <!-- Nama Daftar Status -->
             <div x-data="{ open: false }" class="ml-3 mr-20 transition-colors border-b dark:border-primary-darker flex justify-between items-center p-2 py-4">
                 <div class="text-gray-800 dark:text-light">
                     <span aria-hidden="true">
                         <i class="bi bi-collection-fill"></i>
                     </span>
                     <span class="ml-2 text-base font-semibold"> {{ row.nama_status }} </span>
                 </div>
                 <!-- Button Vertical Dots -->
                 <span 
                     aria-hidden="true" 
                     class="ml-auto"
                     @click="open = !open; $nextTick(() => { if(open){ $refs.userMenu.focus() } })"
                     role="button"
                     type="button"
                     aria-haspopup="true"
                     :aria-expanded="open ? 'true' : 'false'"
                 >
                     <i class="bi bi-three-dots-vertical"></i>
                 </span>
                 <!-- User dropdown menu -->
                 <div
                     x-show="open"
                     x-ref="userMenu"
                     x-transition:enter="transition-all transform ease-out"
                     x-transition:enter-start="translate-x-1/2 opacity-0"
                     x-transition:enter-end="translate-x-0 opacity-100"
                     x-transition:leave="transition-all transform ease-in"
                     x-transition:leave-start="translate-x-0 opacity-100"
                     x-transition:leave-end="translate-x-1/2 opacity-0"
                     @click.away="open = false"
                     @keydown.escape="open = false"
                     class="absolute right-0 w-48 mx-28 items-end bg-white rounded-md shadow-lg border dark:border-primary-darker dark:bg-dark focus:outline-none"
                     tabindex="-1"
                     role="menu"
                     aria-orientation="vertical"
                     aria-label="User menu"
                 >
                     <a
                         href="/kepgud/daftarstatus/editstatus/{{ row.id_status }}"
                         role="menuitem"
                         class="block px-4 py-3 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                     >
                         <i class="bi bi-pencil-square"></i> Edit
                     </a>
                     <a
                         href="/kepgud/daftarstatus/hapusstatus/{{ row.id_status }}"
                         role="menuitem"
                         class="block px-4 py-3 text-sm text-gray-700 transition-colors hover:bg-gray-100 dark:text-light dark:hover:bg-primary"
                     >
                         <i class="bi bi-x-square"></i> Delete
                     </a>
                 </div>
             </div>
         </div>
          {% endfor %}
    
{% endblock %}
