<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Eventory</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
</head>
<form action="{{ url_for('login') }}" method="post" id="login-form">
<body>
<div class="flex items-center bg-gray-50">
    <div class="flex-1 max-w-full bg-white ">
        <div class="flex flex-col md:flex-row">
            <div class="h-full w-full md:h-full md:w-7/8">
                <img class="object-cover w-full" src="https://source.unsplash.com/1600x1240/?logistic-packages/" alt="img" />

            </div>
            <div class="flex items-center h-full justify-center sm:p-12 md:w-1/2">
                <div class="w-full">
                    <div class="flex justify-center">
                        <img class="mb-3" src="/static/img/Logo.png" width="75px" alt="">
                    </div>
                    <h1 class="mb-1 text-2xl font-bold text-center text-gray-700">
                        Login
                    </h1>
                    <div>
                        <label class="block text-sm">

                        </label>
                        <input type="email"
                            class="w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                            placeholder="Email" name="email" id="email"/>
                    </div>
                    <div>
                        <label class="block mt-4 text-sm">

                        </label>
                        <input
                            class="w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                            placeholder="Password" name="nip" id="myInput" type="password" />
                    </div>
                    <div class="mb-4">
                        <br/>
<div class="flex items-center mt-2">
                        <input type="checkbox" id="default-checkbox" class="w-4 h-4  text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" onclick="myFunction()">
                        <label for="default-checkbox" class="ml-2 text-sm font-base text-gray-500 dark:text-gray-300">Tampilkan Password</label>
                    </div>
                    <button
                    class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                    href="#" style="color:white;">
                    Log in
                </button>

                <div class="">
                    <div class="msg">{{ msg }}</div>
                </div>
                <div class="flex justify-center">
                    <p class="mt-4">
                        Tidak Punya Akun
                        <a class="text-sm text-black hover:underline" href="{{ url_for('register') }}">
                            Register!
                        </a>
                    </p>
                </div>

                    <hr class="my-8" />


                    <div class="flex items-end justify-center text-xs gap-4 opacity-50 ">
                        all right reserved © Copyright 2022, Inventory,
                    </div>
                   <p class="flex justify-center opacity-50 text-xs ">
                    created by Moonware
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>