{% extends 'halamankepalagudang/layout.html' %}

{% block title %}Barang Hampir Habis{% endblock %}

{% block content %}

<div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
    <h1 class="text-2xl font-semibold"><a href="#"><i class="bi bi-arrow-left"></i>Barang Hampir Habis </a></h1>
    <button type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Import To Exel</button>
</div>

<div class="flex justify-between mb-4">
    <span class="text-sm text-gray-700 dark:text-gray-400 mt-7 ml-4">
        Showing <span class="font-semibold text-gray-900 dark:text-white">1</span> to <span class="font-semibold text-gray-900 dark:text-white">10</span> of <span class="font-semibold text-gray-900 dark:text-white">100</span> Entries
    </span>
    
    <!-- Search -->
    <form class="flex items-center mt-4 mx-10">   
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" required>
        </div>
        <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            <span class="sr-only">Search</span>
        </button>
    </form>
</div>

<!-- Main Barang Hampir Habis -->
<div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Nama Barang 
                </th>
                <th scope="col" class="py-3 px-6">
                    Merek 
                </th>
                <th scope="col" class="py-3 px-6">
                    Kategori
                </th>
                <th scope="col" class="py-3 px-6">
                    Stok
                </th>
                <th scope="col" class="py-3 px-6">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in barangsedikit %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ row.namabarang }}
                </th>
                <td class="py-4 px-6">
                    {{ row.merk }}
                </td>
                <td class="py-4 px-6">
                    {{ row.namakategori }}
                </td>
                <td class="py-4 px-6">
                    {{ row.stok }}
                </td>
                <td class="py-4 px-6">
                    <a  href="/kepgud/daftarbarang/detailbarang/{{ row.id_barang }}" 
                        class="bg-primary dark:bg-primary text-white rounded-md px-6 py-2 text-sm font-medium hover:bg-primary-dark dark:hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary" role="button">
                        <i class="bi bi-eye"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <script>
            $('#mytable').dataTable();
        </script>
    </table>


    <!-- Pagination -->
    <div class="flex justify-end mt-5 mx-5 mb-4">
        <nav aria-label="Page navigation example">
            <ul class="flex -space-x-px justify-end mx-5 my-5">
                <li>
                    <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-200 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary dark:hover:text-white transition duration-150">Previous</a>
                </li>
                <li>
                    <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">1</a>
                </li>
                <li>
                    <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">2</a>
                </li>
                <li>
                    <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">3</a>
                </li>
                <li>
                    <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">4</a>
                </li>
                <li>
                    <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">5</a>
                </li>
                <li>
                    <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-200 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary dark:hover:text-white transition duration-150">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>


{% endblock %}