{% extends "halamankepalagudang/layout.html" %}

{% block title %}Edit Pengguna{% endblock %}

{% block content %}


    <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="text-2xl font-semibold"><a href="#"></a>Edit Pengguna -> {{ row.nama }} </h1>
      </div>
    
      <div class="flex mb-36 ">
        <div class="ml-5 mt-5">
            <form class="space-y-6" action="/kepgud/daftarpengguna/editpengguna/{{ row.id_user }}" method=post>
                <div>
                    
                    <div class="flex justify-between items-center">
                        <div class="mx-1">
                            <label for="kode_jabatan" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Jabatan</label>
                                  <select name="kode_jabatan" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                                    <option value="{{row.kode_jabatan}}">{{row.nama_jabatan}}</option>
                                      {% for jabatan in jabatan %}
                                      <option value="{{jabatan.kode_jabatan}}">{{jabatan.nama_jabatan}}</option>
                                      {% endfor %}
                                </select>
                            </div>
                            <div class="mx-1">
                                <label for="id_unitkerja" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Unit Kerja</label>
                                <select name="id_unitkerja" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" title="Kategori">
                                    <option value="{{row.id_unitkerja}}">{{row.namaunitkerja}}</option>
                                      {% for unitkerja in unitkerja %}
                                      <option value="{{unitkerja.id_unitkerja}}">{{unitkerja.namaunitkerja}}</option>
                                      {% endfor %}
                                    </select>
                                </div>
                            <div class="mx-1">
                                <label for="tingkat" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Tingkat Akun</label>
                                <select name="tingkat" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" title="Kategori">
                                    <option selected>{{row.tingkat}}</option>

                                      <option value="Kepala Gudang">Kepala Gudang</option>
                                        <option value="Kepala Sekolah">Kepala Sekolah</option>
                                        <option value="Pegawai">Pegawai</option>
                                    </select>
                                </div>
        
                    </div>
                </div>
            <div>
                <label for="nama" class="block text-sm font-medium text-gray-900 dark:text-gray-300">Nama Lengkap & NIP</label>
                <div class="flex items-center">
                    <input type="text" name="nama" value="{{ row.nama }}" placeholder="Nama Lengkap" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" autocomplete="off" required>
                    
                    <input type="text" name="nip" value="{{ row.nip }}" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" autocomplete="off" required>
                </div>
                
            </div>
            <div>
                <label for="email" class="block text-sm font-medium text-gray-900 dark:text-gray-300">Email & Nomor Telepon</label>
                <div class="flex items-center">
                    <input type="text" name="email" value="{{ row.email }}" placeholder="Email" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" autocomplete="off" required>
                    <input type="text" name="nomor_tlp" value="{{ row.nomor_tlp}}" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" autocomplete="off" required>
                </div>
            </div>
            <div class="flex justify-between">
                <button type="submit" class="text-white bg-primary hover:bg-primary-darker focus:ring-4 focus:outline-none focus:ring-primary dark:bg-primary dark:hover:bg-primary-darker dark:focus:ring-primary-dark font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2 transition duration-150">
                    Edit
                </button>
                <a href="{{ url_for('daftarpengguna') }}" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border-2 text-sm font-medium px-5 py-2.5 transition duration-150 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-primary-darker dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600" data-modal-toggle="authentication-modal">
                    Kembali
                </a>
            </div>
            </form>    
        </div>
        
      </div>
      <br>
      <br>
    
{% endblock %}