{% extends 'halamankepalagudang/layout.html' %}

{% block title %}Format pengadaan{% endblock %}

{% block content %}
<style>
    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center;
    }
    a.paginate_button,
    a.paginate_active {
        display: inline-block;
        background-color: #8d8d8d;
        padding: 2px 6px;
        margin-left: 2px;
        cursor: pointer;
        *cursor: hand;
    }
    .paginate_button.current  {
        color: white !important;
      background-color: #2980B9 !important;
    }
    .paging_full_numbers a.paginate_button {
        color: #fff !important;
    }
    .paging_full_numbers a.paginate_active {
        color: #fff !important;
    }
     
    div.dataTables_info {
        padding: 9px 6px 6px 6px;
    }
    </style>
  
<div class="flex items-center justify-between px-4 py-4 border-b lg:py-4 dark:border-primary-darker">
    <h1 class="text-2xl font-semibold">Format Pengadaan </h1>
    <div class="flex items-center mt-2">
<form action="/kepgud/formatpengadaan/download/report/excel" method=post>
        <input type="month" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[128px] p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="tgl_masuk">
                <button href="/kepgud/formatpengadaan/download/report/excel" class="px-4 py-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark" type="submit">
        Export -> Excel    
    </div>
</form>
</div>  




<div class="overflow-x-auto relative">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" id="mytable">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Nama Barang
                </th>
                <th scope="col" class="py-3 px-6">
                    Kategori 
                </th>
                <th scope="col" class="py-3 px-6">
                    Jumlah Barang 
                </th>
                <th scope="col" class="py-3 px-6">
                    Satuan
                </th>
                <th scope="col" class="py-3 px-6">
                    Merk
                </th>
                <th scope="col" class="py-3 px-6">
                    Sumber Dana
                </th>
                <th scope="col" class="py-3 px-6">
                    Harga Satuan 
                </th>
                <th scope="col" class="py-3 px-6">
                    Total Harga
                </th>
                <th scope="col" class="py-3 px-6">
                    Tanggal Masuk
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                {% for row in data %}
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ row.namabarang }} 
                </th>
                <td class="py-4 px-6">
                    {{row.namakategori}}
                </td>
                <td class="py-4 px-6">
                    {{row.stok}}
                </td>
                <td class="py-4 px-6">
                    {{ row.nama_satuan }}
                </td>
                <td class="py-4 px-6">
                    {{ row.merk }}
                </td>
                <td class="py-4 px-6">
                    {{ row.namasumberdana }}
                </td>
                <td class="py-4 px-6">
                    {{ row.hrg_satuan }}
                </td>
                <td class="py-4 px-6">
                    {{ row.total }}
                </td>
                <td class="py-4 px-6">
                    {{ row.tgl_masuk }}
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $('#mytable').dataTable({
            "language": {
                "sInfo" : "Menampilkan _START_ - _END_ dari _TOTAL_ data",
                "emptyTable": "Tabel Kosong",
                "lengthMenu":     "Menampilkan _MENU_ Data"
            },
            "lengthMenu": [ [5, 10, 50, -1], [5, 10, 50, "Semua"] ],
            
            pagingType: 'full_numbers'
            
            
        });
        $(document).ready(function () {             
            $('.dataTables_filter select').
    attr('placeholder','Search in this blog ....').
    css({'width':'350px','display':'inline-block'});
    
    });
    
    </script>

</div>



{% endblock %}