{% extends 'halamankepalagudang/layout.html' %}

{% block title %}List Data{% endblock %}

{% block content %}
<style>
  .dataTables_wrapper .dataTables_filter {
      float: none;
      text-align: center;
  }
  a.paginate_button,
  a.paginate_active {
      display: inline-block;
      background-color: #8d8d8d;
      padding: 2px 6px;
      margin-left: 2px;
      cursor: pointer;
      *cursor: hand;
  }
  .paginate_button.current  {
      color: white !important;
    background-color: #2980B9 !important;
  }
  .paging_full_numbers a.paginate_button {
      color: #fff !important;
  }
  .paging_full_numbers a.paginate_active {
      color: #fff !important;
  }
   
  div.dataTables_info {
      padding: 9px 6px 6px 6px;
  }
  </style>
  
  
<div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
  <h1 class="text-2xl font-semibold"><a href="#">Daftar Permintaan</a></h1>
  <a
  href="{{ url_for('.laporan_pengambilan') }}"
  class="px-4 py-2 mx-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
  type="" 
  >
  Export -> Excel
</a>
</div>
<br/>

<div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" style="width: 100%;" id="mytable">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">Nama Unit Kerja</th>
            <th scope="col" class="py-3 px-6">Nama Jabatan</th>
            <th scope="col" class="py-3 px-6">Nama Barang</th>
            <th scope="col" class="py-3 px-6">Jumlah Pesan</th>
            <th scope="col" class="py-3 px-6">Tanggal Pesan</th>
            <th scope="col" class="py-3 px-6">Nama Pemesan</th>
            <th scope="col" class="py-3 px-6">Status Pesanan</th>
            <th scope="col" class="py-3 px-6">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for row in permintaans %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td scope="row" class="py-4 px-6 ">{{ row.namaunitkerja }}</td>
            <td class="py-4 px-6">{{ row.nama_jabatan }}</td>
            <td class="py-4 px-6">{{ row.namabarang }}</td>
            <td class="py-4 px-6">{{ row.jumlahpesan }}</td>
            <td class="py-4 px-6">{{ row.tanggalpesan }}</td>
            <td class="py-4 px-6">{{ row.nama }}</td>
            <td class="py-4 px-6">{{ row.namastatuspesanan }}</td>
            {% if row['namastatuspesanan'] == 'DiACC' %}
            <td class="py-4 px-6"><a class="disabled" href="/kepgud/listpermintaan/barangsiap/{{ row.id_permintaan }}" onclick="return confirm('Ubah status pesanan menjadi Siap Diambil?');" role="button"><i class="bi bi-box-seam">Siap Diambil</i></a>
            {% elif row['namastatuspesanan'] == 'Siap Diambil' : %}
            <td class="py-4 px-6"><a href="" role="button">Menunggu Pengambilan</a>
              {% elif row['namastatuspesanan'] == 'Pending' : %}
            <td class="py-4 px-6"><a href="" role="button">Menunggu ACC</a>
              {% elif row['namastatuspesanan'] == 'Sudah Diambil' : %}
            <td class="py-4 px-6"><a href="" role="button">Barang Telah Diambil</a>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
        <script>
          $('#mytable').dataTable({
              "language": {
                  "sInfo" : "Menampilkan _START_ - _END_ dari _TOTAL_ data",
                  "emptyTable": "Tabel Kosong",
                  "lengthMenu":     "Menampilkan _MENU_ Data"
              },
              "lengthMenu": [ [5, 10, 50, -1], [5, 10, 50, "Semua"] ],
              
              pagingType: 'full_numbers'
              
              
          });
          $(document).ready(function () {             
              $('.dataTables_filter select').
      attr('placeholder','Search in this blog ....').
      css({'width':'350px','display':'inline-block'});
      
      });
      
      </script>
  
      </table>
    
</div>



{% endblock %}
