{% extends 'halamanpegawai/layout.html' %}

{% block title %}Daftar Permintaan{% endblock %}

{% block content %}
<main>
     <!-- Content header -->
     <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        {% for row in jumlahdata %}
        <h1 class="text-2xl font-semibold">Order Barang -> {{ row.jumlahbarang }} Tersedia</h1>
        {% endfor %}
        <a
        href="{{ url_for('semuabarang') }}"
    class="px-4 py-2 text-sm text-white rounded-md bg-primary hover:bg-primary-dark focus:outline-none focus:ring focus:ring-primary focus:ring-offset-1 focus:ring-offset-white dark:focus:ring-offset-dark"
    >
    + Tampilkan Semua Barang
    </a>
      </div>

      <!-- Title Category & Search -->
        <div class="mx-10 py-5 flex items-center justify-between">
            <h1 class="text-2xl font-semibold">Nama Barang</h1>
            <div class="pt-2 relative text-gray-500">
                <script>
                    $(document).ready(function(){
                      load_data();
                      function load_data(query)
                      {
                       $.ajax({
                        url:"/ajaxlivesearch",
                        method:"POST",
                        data:{query:query},
                        success:function(data)
                        {
                          $('#result').html(data);
                          $("#result").append(data.htmlresponse);
                        }
                       });
                      }
                      $('#search_text').keyup(function(){
                        var search = $(this).val();
                        if(search != ''){
                        load_data(search);
                       }else{
                        load_data();
                       }
                      });
                    });
                    </script>
                <input class="border-1 border-gray-300 bg-white dark:bg-darker dark:border-primary-darker h-10 px-5 pr-16 rounded-full text-sm focus:outline-none" name="search_text" id="search_text" placeholder="Cari Barang">
                <!-- <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                    <svg class="text-gray-500 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                        width="512px" height="512px"
                    >
                        <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                    </svg>
                </button> -->
            </div>
        </div>


      <!-- Content Main -->
      
                <div id="result"></div>
            
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="flex -space-x-px justify-end mx-5 mb-5">
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-200 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary dark:hover:text-white transition duration-150">Previous</a>
            </li>
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">1</a>
            </li>
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">2</a>
            </li>
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">3</a>
            </li>
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">4</a>
            </li>
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">5</a>
            </li>
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-200 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary dark:hover:text-white transition duration-150">Next</a>
            </li>
        </ul>
    </nav>
</main>

{% endblock %}