{% extends 'halamanpegawai/layout.html' %}

{% block title %}Daftar Permintaan{% endblock %}

{% block content %}

<main>
     <!-- Content header -->
     <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
        <h1 class="text-2xl font-semibold">Order Barang</h1>
      </div>

      <!-- Title Category & Search -->
        <div class="mx-10 py-5 flex items-center justify-between">
            <h1 class="text-2xl font-semibold">Nama Category</h1>
            <div class="pt-2 relative text-gray-500">
                <input class="border-1 border-gray-300 bg-white dark:bg-darker dark:border-primary-darker h-10 px-5 pr-16 rounded-full text-sm focus:outline-none" type="search" name="search" placeholder="Search">
                <!-- <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                    <svg class="text-gray-500 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                        viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                        width="512px" height="512px"
                    >
                        <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                    </svg>
                </button> -->
            </div>
        </div>

        <!-- Main modal Order Barang -->
        <div id="order-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
            <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="order-modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="py-6 px-6 lg:px-8">
                        <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Order Barang</h3>
                        <form class="space-y-6" action="#">
                            <div class="flex justify-between items-center">
                                <div class="mx-1">
                                    <img src="https://stackdiary.com/140x100.png" alt="product" class="w-full h-36 rounded-md">
                                </div>
                                <div class="mx-1">
                                    <label for="nama_barang" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nama Barang</label>
                                    <input type="text" name="nama_barang" id="nama_barang" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Nama Barang" disabled>
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="mx-1">
                                    <label for="merk" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Merk</label>
                                    <input type="text" name="merk" id="merk" placeholder="Merk" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" disabled>
                                </div>
                                <div class="mx-1">
                                    <label for="kategori" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Kategori</label>
                                    <input type="text" name="kategori" id="kategori" placeholder="Kategori" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" disabled>
                                </div>
                            </div>
                            <div>
                                <label for="jumlah" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Jumlah</label>
                                <div class="flex items-center">
                                    <input type="number" name="jumlah" id="jumlah" placeholder="Jumlah" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                                    <input type="text" name="satuan" id="satuan" placeholder="Satuan" class="mx-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" disabled>
                                </div>
                            </div>
                            <div class="flex justify-between">
                                <button type="" class="text-white bg-primary hover:bg-primary-darker focus:ring-4 focus:outline-none focus:ring-primary dark:bg-primary dark:hover:bg-primary-darker dark:focus:ring-primary-dark font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2 transition duration-150">
                                    Order
                                </button>
                                <button type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border-2 text-sm font-medium px-5 py-2.5 transition duration-150 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-primary-darker dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600" data-modal-toggle="order-modal">
                                    Kembali
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

      <!-- Content Main -->
      <div class="container grid grid-cols-2 gap-6 pt-4 pb-16">
        <!-- products -->
        <div class="col-span-3 grid justify-center">
            <!-- Main Order Barang -->
            <div class="grid grid-cols-3 gap-6">
            {% for row in daftarbarang %}
                <div class="bg-white border dark:bg-darker dark:border-primary-darker shadow rounded overflow-hidden group">
                    <div class="relative">
                        <img src="/static/img/barang/{{ row.files }}" alt="product 1" class="w-[320px] h-[212px] rounded-lg">
                        <div class="absolute inset-0 bg-black bg-opacity-60 flex items-center 
                        justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300">
                            <a href="#"
                                class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-700 transition duration-200"
                                title="view product">
                                <i class="bi bi-box-seam"></i>
                            </a>
                            <a href="#"
                                class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-700 transition duration-200"
                                title="Order"
                                data-modal-toggle="order-modal">
                                <i class="bi bi-cart"></i>
                            </a>
                        </div>
                    </div>  
                    <div class="pt-4 pb-3 px-4">
                        <a href="/pegawai/homepegawai/buatpermintaan/orderbarang/{{ row.id_barang }}" data-modal-toggle="order-modal">
                            <h4 class="uppercase font-medium text-lg lg:text-xl mb-2 text-gray-800 hover:text-primary transition dark:text-white dark:hover:text-darker">
                                {{ row.namabarang }}</h4>
                        </a>
                        <p class="text-base text-primary font-semibold">{{ row.merk }}</p>
                        <div class="flex items-center text-center">
                            <div class="text-base text-yellow-400 font-semibold mx-auto">{{ row.namakategori }}</div>
                        </div>
                        <div class="flex items-baseline mb-1 space-x-2">
                            <p class="text-base text-primary font-semibold">Jml Barang  :   {{ row.stok }}</p>
                            <p class="text-sm text-gray-400">{{ row.nama_satuan }}</p>
                        </div>
                    </div>
                    <a
                        class="block w-full py-3 text-center text-white bg-primary hover:border hover:border-primary rounded-b hover:bg-transparent hover:text-primary transition"
                        href="/pegawai/homepegawai/buatpermintaan/orderbarang/{{ row.id_barang }}">
                        Order
                </a>
                </div>
            {% endfor %}
            </div>
        </div>
        <!-- ./products -->
    </div>
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="flex -space-x-px justify-end mx-5 mb-5">
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-200 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary dark:hover:text-white transition duration-150">Previous</a>
            </li>
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">1</a>
            </li>
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">2</a>
            </li>
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">3</a>
            </li>
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">4</a>
            </li>
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary-dark dark:hover:text-white transition duration-150">5</a>
            </li>
            <li>
                <a href="#" class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-200 hover:text-gray-700 dark:bg-darker dark:border-primary-darker dark:text-gray-400 dark:hover:bg-primary dark:hover:text-white transition duration-150">Next</a>
            </li>
        </ul>
    </nav>
</main>

{% endblock %}